  {% extends "base.html" %}
{% load static %}

{% block title %}User: {{ request.user.username }}{% endblock %}

{% block content %}
<table style="width:100%">
    <tr>
        <th>Product</th>
        <th>Current Price</th>
    </tr>
    {% for product in products %}
    <tr ng-controller="ShopifyController">
      <td>
          <input type="checkbox" name="{{ product.shopify_variant_id }}" value="Ok">
          <a href="#" ng-click="historic_chart({{product.pk}},{{historic}})" data-target="myChart">{{ product.title }}</a></td>
      <td>$ {{ product.actual_shopify_price }} </td>
    </tr>
  {% endfor %}
</table>
<canvas id="myChart" width="400" height="400"></canvas>


{% endblock content %}