// project specific CSS goes here

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$blue: rgb(0, 172, 172);
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// Interface variables

$bg_body: #d9e0e7;

$green: #00acac;
$dark_green: #008a8a;
$light_green: #33bdbd;

$blue: #348fe2;
$dark_blue: #2a72b5;
$light_blue: #5da5e8;

$aqua: #49b6d6;
$dark_aqua: #3a92ab;
$light_aqua: #6dc5de;

$purple: #727cb6;
$dark_purple: #5b6392;
$light_purple: #8e96c5;

$orange: #f59c1a;
$dark_orange: #c47d15;
$light_orange: #f7b048;

$yellow: #e3fa3e;
$dark_yellow: #b6c832;
$light_yellow: #e9fb65;

$red: #ff5b57;
$dark_red: #cc4946;
$light_red: #ff7c79;

$black: #2d353c;
$dark_black: #242a30;
$darker_black: #1a2229;
$light_black: #575d63;

$grey: #b6c2c9;
$dark_grey: #929ba1;
$light_grey: #c5ced4;

$silver: #f0f3f4;
$dark_silver: #b4b6b7;
$light_silver: #f4f6f7;

// Fonts
$font-basic: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;


// Text Color 
$body_text_color: #707478;
$heading_text_color: #242a30;
$heading_small_text_color: #7c7f83;
$form_label_color: $dark_black;
$header_default_text_color: #585663;
$header_inverse_text_color: #a8acb1;
$sidebar_text_color: #a8acb1;
